body {
    /* background-image: url(http://fjordstudio.dk/assets/img/bg/diamonds.png); */
    font-family: "Calibri";
    color: black;
    font-size: 30px;
    padding-top: 30px;
}

h1, h2, h3 {
    text-align: center;
}

button:focus {
    outline: 0;
}

select:focus {
    outline: 0;
}

nav {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 58px;
    left: 0%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
    background-color: #1F571F;
    border-bottom: 5px solid black;
}

nav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.item {
    background-color: #1F571F;
    color: whitesmoke;
    transition: 0.3s;
}

#selected {
    text-decoration: underline;
    transition: 0.3s;
}

.item:hover,
#selected:hover {
    background-color: whitesmoke;
    color: #1F571F;
}

#remind-widget {
  position: absolute;
  right: 0px;
  border: 0;
  width: 650px;
  height: 500px;
}

#classyheader {
  border: 3px solid;
  width: 725px;
  max-width: 100%;
  height: auto;
  max-height: 81px;
}
