body {
    font-family: "Arial";
    color: black;
    font-size: 30px;
    padding-top: 30px;
}

h1, h2, h3 {
    text-align: center;
}

/* Add a black background color to the top navigation */
nav {
  overflow: hidden;
  background-color: #333;
  display: inline-block;
}

nav a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 6px solid transparent;
  border-right: 1px solid whitesmoke;
  width: 7%;
}

nav a:hover {
  border-bottom: 6px solid #2c662f;
}

nav a.active {
  border-bottom: 6px solid #4caf50;
  border-right: 1px solid whitesmoke;
}

button:focus {
    outline: 0;
}

select:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

#remind-widget {
  position: absolute;
  right: 0px;
  border: 0;
  width: 450px;
  height: 500px;
}

#classyheader {
  border: 3px solid;
  width: 725px;
  max-width: 100%;
  height: auto;
  max-height: 81px;
}

.drillvid {
  width: 40%;
  height: 375px;
}

nav {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    float: left;
    display: block;
}
