body {
    font-family: "Arial";
    color: black;
    font-size: 30px;
    padding-top: 30px;
    margin: 0;
}


/* NAVBAR */

.topnav {
  overflow: hidden;
  background-color:#1f571f;
  display: inline-block;
  position: fixed;
}

.topnav a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 4px solid transparent;
  margin-bottom: 0;
}

.topnav a:hover {
  border-bottom: 4px solid #37b73c;
  transition: 0.2s;
}

.topnav a.active {
  border-bottom: 4px solid #37b73c;
  font-weight: bold;
}

.topnav {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0%;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.topnavli{
  display: inline-block;
  margin-bottom: 0;
}

.topnav a {
    float: left;
    display: block;
}


/* NOT NAVBAR */

.head{
  font-size: 16px;
}

h1, h2, h3 {
    text-align: center;
}

button:focus, select:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

#remind-widget {
  align-self: center;
  right: 0px;
  border: 0;
  width: 450px;
  height: 500px;
}

#classyheader {
  border: 3px solid;
  width: 725px;
  max-width: 100%;
  height: auto;
  max-height: 81px;
}

.drillvid {
  width: 40%;
  height: 375px;
}

#drillselect{
  background-color: #1f571f;
  margin: 0;
}

#selector{
  align-self: center;
  color: whitesmoke;
}
