body {
    font-family: "Arial";
    color: black;
    font-size: 30px;
    padding-top: 30px;
}

h1, h2, h3 {
    text-align: center;
}

/* Add a black background color to the top .topnavigation */
ul.topnav {
  overflow: hidden;
  background-color: #102811;
  display: inline-block;
  margin-bottom: 0;
}

ul.topnav a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 4px solid transparent;
  margin-bottom: 0;
}

.topnav a:hover {
  border-bottom: 4px solid #3b843e;
}

.topnav a.active {
  border-bottom: 4px solid #3b843e;
  font-weight: bold;
}

button:focus {
    outline: 0;
}

select:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

#remind-widget {
  position: absolute;
  right: 0px;
  border: 0;
  width: 450px;
  height: 500px;
}

#classyheader {
  border: 3px solid;
  width: 725px;
  max-width: 100%;
  height: auto;
  max-height: 81px;
}

.drillvid {
  width: 40%;
  height: 375px;
}

.topnav {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0%;
    list-style-type: none;
    margin: auto;
    padding: 0;
}
li.topnavli{
  display: inline-block;
  margin-bottom: 0;
}

.topnav a {
    float: left;
    display: block;
}
