.wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
    height: 92vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x
   * overflow. */
    overflow-x: hidden;
    /* Adds secondary scroll bar (allows parallaz scrolling) */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from
   * the viewport to transformed objects.*/
    perspective: 2px;
    margin-top: 20px;
}

.section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the image(s) on the top and bottom*/
    height: 100vh;
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

.parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears
   * to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.51);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
}


/* area between pictures */

.static {
    background: red;
}


/* Sets the actual background images */

.bg1::after {
    background-image: url('../images/jitkor.jpg');
}

.bg2::after {
    background-image: url('../images/jitkor.jpg');
}